@import 'tailwindcss';

@layer base {
  body {
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)) rgb(214, 219, 220);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}



.hover-border-bottom {
  position: relative;
}

.hover-border-bottom::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -1px; /* Adjust the position as needed */
  width: 80%;
  height: 1px; /* Adjust the height as needed */
  background-color: #8b5cf6; /* Use the current text color */
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.hover-border-bottom:hover::after {
  transform: scaleX(1);
}



.hover-border-bottom-2 {
  position: relative;
}

.hover-border-bottom-2::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -1px; /* Adjust the position as needed */
  width: 40%;
  height: 1px; /* Adjust the height as needed */
  background-color: #7c63b6; /* Use the current text color */
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.hover-border-bottom-2:hover::after {
  transform: scaleX(1);
}


